@{
    ViewBag.Title = "Password";
}
<script type="text/javascript">
    $(document).on('click', '#backLink', function () {
        history.go(-1);
    });
</script>
<h2>Password</h2>

@using (Html.BeginForm())
{ 
    @Html.ValidationSummary(true, "Login failed. Check your login details.");
    <div>
        <div class="info-label">
            @Html.Label("Type new password")
        </div>
        <div class="info-field">
            @Html.Password("newPassword")
        </div>
        <div class="info-label">
            @Html.Label("Confirm new password")
        </div>
        <div class="info-field">
            @Html.Password("newPasswordConfirmation")
        </div>
        <input type="submit" value="Change Password" />

        <a href="javascript:void(0);" id="backLink">Back to previous page.</a>
    </div>
}