@model Newsfeed.Models.User
@{
    ViewBag.Title = "Register";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    @using (Html.BeginForm("Register", "User", FormMethod.Post, new {enctype="multipart/form-data"}))
    {
        @Html.ValidationSummary(true, "Registration Failed.");
        <div class="editor-label">
            @Html.LabelFor(u => u.Username)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(u => u.Username)
            @Html.ValidationMessageFor(u => u.Username)
        </div>
        <div class="editor-label">
            @Html.LabelFor(u => u.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(u => u.Password)
            @Html.ValidationMessageFor(u => u.Password)
        </div>
        
        <div>Upload new avatar:</div><br/> <input type="file" name="Avatar" required="required"/>
        
        <input type="submit" value="Register" />
    }
</body>
</html>
